version: '3.8'

services:

  api:
    build: ./fastapi
    container_name: aerostream_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/code/models
      - ./chroma_db:/code/chroma_db
      - ./metadata:/code/metadata
      - ./fastapi:/code
    environment:
      - DB_HOST=${POSTGRES_HOST}
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}       # Ajouté pour cohérence
      - HF_TOKEN=${HF_TOKEN}
      # [CORRECTION] Indispensable pour que votre code Python trouve les dossiers montés
      - CHROMA_DB_PATH=/code/chroma_db
      - MODELS_PATH=/code/models

  webapp:
    build: ./app
    container_name: aerostream_webapp
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    volumes:
      - ./app:/app
      - ./test:/app/test

  postgres:
    image: postgres:13
    container_name: aerostream_postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow:
    build: ./airflow
    container_name: aerostream_airflow
    command: standalone
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      # [CORRECTION CRITIQUE] Utilisation des variables du .env pour l'authentification
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW_CONN_FASTAPI_CONN=http://api:8000
    volumes:
      # Montage du dossier airflow local vers le dossier dags du conteneur
      - ./airflow:/opt/airflow/dags 
      - ./logs:/opt/airflow/logs
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - api

volumes:
  postgres_data: